 /* design the whole searchbar */
 .search {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 6px;
 }
 /* search */
 .search input{
   border: 2px solid var(--Olivesilver);
   padding: 7px 150px;
   font-size: 1.5rem;
   border-radius: 2rem;
   color: var(--white);
   background: transparent;
 }
 /* search-div */
 .search-div { 
    padding: 0px 100px; 
    background: var(--Olivesilver);
    border-radius: 2rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    color: var(--black);
 }

 /* responsibe */
@media screen and (max-width: 700px) {
   .search input{
      border: 2px solid var(--Olivesilver);
      padding: 7px 30px;
      font-size: 1.1rem;
      border-radius: 2rem;
      color: var(--white);
      background: transparent;
    }
}