@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-size: 1.8rem;
  font-weight: bold;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.app:before {
  content: "";
  background: url("https://images.unsplash.com/photo-1667645336865-154f91594cfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDl8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60")
    no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation-name: example;
  animation-duration: 500s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    background: url("https://images.unsplash.com/photo-1667645336865-154f91594cfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDl8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60") no-repeat center/cover;
  }
  25% {
    background-image: url("https://media.istockphoto.com/id/1069974888/photo/snow-texture-on-black-background-for-overlay.jpg?s=612x612&w=0&k=20&c=RNIEdKda4MV-jbzhsFj7IMHu5eeDJO4BcFH78qaL5fA=");
  }
  50% {
    background-image: url("https://media.istockphoto.com/id/178988183/photo/house-in-bad-summer-thunderstorm.jpg?s=612x612&w=0&k=20&c=KAxdY1mM4H7ixKhz731XXYGf5S081bsHb-SyXfNDUdI=");
  }
  75% {
    background-image: url("https://media.istockphoto.com/id/595124884/photo/driving-at-sunset.jpg?s=612x612&w=0&k=20&c=725zI1Mow-9pja1UOtEVcERpcLmTH4pVLDZVScFP2Wo=");
  }
  100% {
    background-image: url("https://media.istockphoto.com/id/505672690/photo/stormy-sky.jpg?s=612x612&w=0&k=20&c=C5ROQSXI8S2y2ClO37KPJ3K033g90pTirNXutFha2tY=");
  }
}
 
.container {
  max-width: 700px;
  /* height: 700px; */
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  color: #000;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bold {
  font-weight: 700;
}

.location {
  background-color: #7e7e7e1f;
  border-radius: 0.5rem;
}
.location p {
  font-size: 2.5rem;
}
.temp {
  background-color: #7e7e7e11;
  border-radius: 0.7rem;
}
/* responsibe query */
@media screen and (max-width: 570px) {
  .app {
    overflow: hidden;
  }
  .app input {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.7rem 0rem;
  }
  .container div {
    flex-direction: column;
    margin-top: 10px;
  }
}
