@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background: #000;
}

p {
  font-size: 1.8rem;
  font-weight: bold;
}
